.Rproj.user
.Rhistory
.RData
.Ruserdata
Ouputs/*.svg
Data/NMdata.dta
.DS_Store
WJP North Macedonia 2023 _AM.pdf
Data/Dataset for replication.dta
Outputs/Security_regressions.smcl
Outputs/ttest_differences.xlsx
Outputs/A2J_tables.xlsx
Outputs/imgChart13/reasons.xlsx
